@media (min-width:320px){

body{
    background-color: #474747;
    font-family: 'Poppins', sans-serif;
}

#img{
    text-align: center;
    padding-top: 50px;
}

img{
    width: 142px;
    height: 142px;
}

h1{
    color: #EFAE2E ;
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:30px;
    gap: 50px 0px;

}

#from{
    width: 148px;
    height: 60px;
    font-size: 20px;
    border-radius: 5%;
    border: 1px solid #EFAE2E;
}

#to{
    width: 148px;
    height: 60px;
    font-size: 20px;
    border-radius: 5%;
    border: 1px solid #EFAE2E;
}

select:hover{
    background-color:#d1caca;
}


#amount{
    Width:322px;
    Height:60px;
    border-radius: 5%;
    border: 2px solid #EFAE2E;
}

input:hover{
    background-color:#d1caca;
}

button{
    background-color: #EFAE2E;
    color: #fff;
    width: 322px;
    height: 60px;
    font-size: 24px;
    border-radius: 5%;
    border: 2px solid #EFAE2E;
}

button:hover{
    background-color: #f8c96a;
}

#resultado{
    font-size: 30px;
    text-align: center;
    color: #FFE28F;
}


}
