body{
    background-color: #474747;
    font-family: 'Poppins', sans-serif;
}

#img{
    text-align: center;
    padding-top: 50px;
}

img{
    width: 142px;
    height: 142px;
}

h1{
    color: #EFAE2E ;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top:30px;
    gap: 20px;
    width: 95%;
    margin: 0 auto;
    max-width: 768px;
}



select:hover{
    background-color:#d1caca;
}

.coin-selector{
    width: calc(50% - 10px);
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #EFAE2E;
}

.text-field{
    Width:100%;
    Height:60px;
    border-radius: 5px;
    border: 2px solid #EFAE2E;
    font-size: 20px;
    color: #adaca9;
}

input:hover{
    background-color:#d1caca;
}

button{
    background-color: #EFAE2E;
    color: #fff;
    width: 322px;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
    border: 2px solid #EFAE2E;
}

button:hover{
    background-color: #f8c96a;
}

#resultado{
    font-size: 30px;
    text-align: center;
    color: #FFE28F;
}
